/* You can add global styles to this file, and also import other style files */
body {
  background-color: #181c23;

  * {
    font-size: 20px;
    font-weight: 600;
  }
}

* {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }